In [ ]:
#Theroretical Questions

In [ ]:
##Question 1:- What are data structures, and why are they important?
#Answer 1:- Data structure is a way of organizing data so that data can be stored effectively and can be manipulated easily.

In [ ]:
##Question 2:- Explain the difference between mutable and immutable data types with examples ?

#Answer 2:- Mutable Data structures are those that can be edited by way of add, remove or the values of those can be changed e.g. lists, Sets whereas immutable data structes can not be edited as above e.g tuples

In [ ]:
##Ques 3:- What are the main differences between lists and tuples in Python ?

#Answer 3:- Lists are muttable while tuples are not.

In [ ]:
##Ques 4:- Describe how dictionaries store data.

#Ans 4:- Dictionary stores data in the format of "Key:Value" for every key assigned there should be a value.

In [ ]:
##Ques 5:- Why might you use a set instead of a list in Python ?

#Ans 5:- Sets remove the duplicate data and also support mathematical functions such as union, intersection e.t.c However, the usage of both depends on case to case and as per user requirements.

In [ ]:
##Ques 7:-  How do tuples ensure data integrity in Python?

#Ans 7:-  Since tuples are immutable, It's not possible to change the data stored in tuples easily.

In [ ]:
##Ques 9:- Can lists contain different data types in Python?

#Ans 9:- Yes, a list is hetrogeneos data structure and can store different data types.

In [ ]:
##Ques 11:-  What advantages do dictionaries offer over lists for certain tasks ?

#Ans 11:- Faster lookup of values & storing data in key & value format.

In [ ]:
##Ques 13:-  How do sets handle duplicate values in Python ?

#Ans 13:- Set removes the subsequent occurance of the value.

In [ ]:
##Ques 14 :- How does the “in” keyword work differently for lists and dictionaries.

#Ans 14:- in function works in dictionary only if the value is present in form of Key. Whereas it will return true if the value is  present anywhere in case of a list

In [ ]:
##Ques 15 :- Can you modify the elements of a tuple? Explain why or why not ?

#Ans 15:- Since tuples are immutable is elements cannot be modified.

In [ ]:
##Ques 16:-  What is a nested dictionary, and give an example of its use case

#Ans 16 :- A nested dictionary is a dictionary inside another dictionary. It allows you to store hierarchical or structured data, where each key maps to another dictionary as its value.
#students = {"101": {"name": "Nitin", "age": 22, "marks": 85},"102": {"name": "Asha", "age": 21, "marks": 90}}

#Here, each student ID ("101", "102") maps to another dictionary containing that student's details.

In [ ]:
##Ques 19 :- Why are dictionaries considered unordered, and how does that affect data retrieval.

#Ans 19:- Dictionaries were considered unordered in earlier versions of Python i.e before 3.7 version.

In [ ]:
#Practical Questions

In [1]:
#Ques 1:- Write a code to create a string with your name and print it ?

Name="Nitin"
print(Name)

Nitin

In [2]:
#Ques 2:- Write a code to find the length of the string "Hello World".

text="Hello World"
len(text)

11

In [3]:
#Ques 3:- Write a code to slice the first 3 characters from the string "Python Programming".

text2="Python Programming"
text2[:3:]

'Pyt'

In [4]:
#Ques 4:- Write a code to convert the string "hello" to uppercase.

str1="hello"
str1.upper()

'HELLO'

In [5]:
#Ques 5:- Write a code to replace the word "apple" with "orange" in the string "I like apple"
str2= "I Like apple"
str3=str2.replace("apple","Orange")
print(str3)

I Like Orange

In [6]:
#Ques 6:-  Write a code to create a list with numbers 1 to 5 and print it.
Num=[1,2,3,4,5]
print(Num)

[1, 2, 3, 4, 5]

In [7]:
#Ques 7:-  Write a code to append the number 10 to the list [1, 2, 3, 4].
num=[1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [8]:
#Ques 8:-  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
num2=[1, 2, 3, 4, 5]
num2.remove(3)
print(num2)

[1, 2, 4, 5]

In [9]:
#Ques 9 :- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

alpha=['a', 'b', 'c', 'd']
alpha[1]

'b'

In [10]:
#Ques 10:-  Write a code to reverse the list [10, 20, 30, 40, 50].

lst1=[10, 20, 30, 40, 50]
lst1[::-1]

[50, 40, 30, 20, 10]

In [11]:
#Ques 11:- Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1=(100,200,300)
print(t1)

(100, 200, 300)

In [12]:
#Ques 12:- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors=('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

In [13]:
#Ques 13:- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t2=(10, 20, 5, 15)
min(t2)

5

In [14]:
#Ques 14 :- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animal=('dog', 'cat', 'rabbit')
animal.index("cat")

1

In [15]:
#Ques 15:-  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t3=("Apple", "Orange", "Kiwi")
"Kiwi" in t3

True

In [16]:
#Ques 16:- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s1={"a","b","c"}
print(s1)

{'a', 'b', 'c'}

In [17]:
#Ques 17:- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s2={1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [18]:
#Ques 18:- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s3={1, 2, 3, 4}
s3.remove(4)
s3

{1, 2, 3}

In [19]:
#Ques 19:- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s4={1, 2, 3}
s5={3, 4, 5}
s4|s5

{1, 2, 3, 4, 5}

In [20]:
#Ques 20:-  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s6={1, 2, 3}
s7={2, 3, 4}
s6&s7

{2, 3}

In [21]:
#Ques 21:- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1={"name":"Nitin", "age":29, "city":"Noida"}
print(dict1)

{'name': 'Nitin', 'age': 29, 'city': 'Noida'}

In [22]:
#Ques 22:- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2={'name': 'John', 'age': 25}
dict2.update({"country":"USA"})
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#Ques 23:- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3={'name': 'Alice', 'age': 30}
dict3["name"]

'Alice'

In [24]:
#Ques 24:- . Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#Ques 25:-  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict5= {'name': 'Alice', 'city': 'Paris'}
"city" in dict5

True

In [26]:
#Ques 26:-  Write a code to create a list, a tuple, and a dictionary, and print them all.
l1=[1,2,3]
t4=(4,5,6)
d1={"A":7,"B":8,"C":9}
print(l1,t4,d1)

[1, 2, 3] (4, 5, 6) {'A': 7, 'B': 8, 'C': 9}

In [27]:
#Ques 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
a=[10,34,56,23,45]
print(sorted(a))

[10, 23, 34, 45, 56]

In [28]:
#Ques 28:-  Write a code to create a list with strings and print the element at the third index.
l2=["Nitin","PW SKILLS","DATA ANALYTICS","DATA SCIENCE"]
l2[3]

'DATA SCIENCE'

In [29]:
#Ques 29:-  Write a code to combine two dictionaries into one and print the result.
d2={"Name":"Nitin","Age":29}
d3={"City":"Jamnagar","Country":"Sri Lanka"}
d2.update(d3)
print(d2)

{'Name': 'Nitin', 'Age': 29, 'City': 'Jamnagar', 'Country': 'Sri Lanka'}

In [30]:
#Ques 30:-  Write a code to convert a list of strings into a set.
l2=["Nitin","PW SKILLS","DATA ANALYTICS","DATA SCIENCE"]
l4=set(l2)
print(l4)

{'DATA ANALYTICS', 'Nitin', 'PW SKILLS', 'DATA SCIENCE'}